
<section class="home-container">
  <div>
    <p>Someone is stealing a bike</p>
    <button [routerLink]="['report']" class="reset-button report-div">Report</button>
  </div>
  <div>
    <p>You arrived at destination ?</p>
    <button [routerLink]="['select-bike']" class="reset-button park-div">Park</button>
  </div>
</section>

<section class="concept">
  <div>
    <h1> Bicilante</h1>
   </div>
  <div>
    <p> <span class="report-span">Report</span> a robbery.</p>
    <p> <span class="park-span">Park</span> your bike and leave it without stress.</p>
   </div>
   <a [routerLink]="['/login']" class="join-now">join now</a>
</section>


<section class="community">
  <p>Bicilante social</p>
  <h2>Community trust based</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique dolor odio. 
    Nullam interdum cursus justo sit amet commodo. Maecenas mollis, elit quis tempor vehicula.</p>
</section>