
<section class="home-container">
    <div class="home-button">
      <button [routerLink]="['report']" class="reset-button">Report</button>
      <button [routerLink]="['select-bike']" class="reset-button">Park</button>
    </div>
</section>

<section class="concept">
  <div>
    <h1> Bicilante</h1>
   </div>
  <div>
    <p> <span class="report-span">Report</span> a robbery.</p>
    <p> <span class="park-span">Park</span> your bike and leave it without stress.</p>
   </div>
</section>


<section class="community">
  <p>Bicilante social</p>
  <h2>Community trust based</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique dolor odio. 
    Nullam interdum cursus justo sit amet commodo. Maecenas mollis, elit quis tempor vehicula.</p>
</section>