<section class="report-container">
  <h1> Report </h1>
  <p>Someone is trying to steal a bike, warn the owner</p>
  <p> We use your current position to find all the bikes parked around you </p>

      <form (ngSubmit)="submitReportForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

          <div class="field submit">
              <button type="submit"  class="reset-button"> Search </button>
            </div>
  
        </form>
  </section>

  <!-- way to refractor this  -->
  <section>
    <div *ngFor="let item of bikes">

      <div *ngIf="user">
        <article *ngIf="user._id != item.owner">
          <img src="http://localhost:3000/{{item.imageUrl}}" alt="" width="100">
          <p>{{item.brand}}</p>
          <button (click)="handleReport(item._id, item.number)" class="actionButton reportButton reset-button">Report</button>
        </article>
     </div>

      <div *ngIf="!user">
        <article>
          <img src="http://localhost:3000/{{item.imageUrl}}" alt="" width="100">
          <p>{{item.brand}}</p>
          <button (click)="handleReport(item._id, item.number)" class="actionButton reportButton reset-button">Report</button>
        </article>
      </div>

    </div>

  </section>
