<section>
  <h1> What's your location ?</h1>

      <form (ngSubmit)="submitReportForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}" class="add-bike-form">
          <div class="field" [ngClass]="{'has-error': feedbackEnabled }">
              <label></label>
              <input placeholder="Enter your location" type="text" name="searchLocation" [(ngModel)]="searchLocation" #colorField="ngModel" required/>
              <div *ngIf="feedbackEnabled ">
                <p *ngIf="" class="validation"> Please enter the location of your bike</p>
              </div>
            </div>
      
          <div class="field submit">
              <button type="submit"  class="reset-button"> Search </button>
            </div>
      
            <div *ngIf="error" class="validation">
                <div [ngSwitch]="error.code">
                  <p *ngSwitchDefault> Unexpected error get out of here</p>
                </div>
              </div>
        </form>
  </section>

  <!-- way to refractor this  -->
  <section>
    <div *ngFor="let item of bikes">

      <div *ngIf="user">
        <article *ngIf="user._id != item.owner">
          <h2>{{item.color}}</h2>
          <p>{{item.brand}}</p>
          <button (click)="handleReport(item._id)" class="actionButton reportButton reset-button">Report</button>
        </article>
     </div>

      <div *ngIf="!user">
        <article>
          <h2>{{item.color}}</h2>
          <p>{{item.brand}}</p>
          <button (click)="handleReport(item._id)" class="actionButton reportButton reset-button">Report</button>
        </article>
      </div>

    </div>

  </section>
