<header>
  
  <div class="navbar">
      <a [routerLink]="['/']">
        <img src="assets/images/bicilante-logo.jpg" alt="">
      </a>
      <div *ngIf="!loading && !!user">
        <a [routerLink]="['/profile']">hey, {{user.username}}</a>
        <button (click)="triggerLogout()">Logout</button>
      </div>
      <div class="noUser-a">
        <div *ngIf="!loading && anon" class="">
          <a [routerLink]="['/login']">log in</a>
          <a [routerLink]="['/signup']">signup</a>
        </div>
    </div>
     
    </div>

</header>

<div>
 <router-outlet></router-outlet>
</div>

<footer>
  hey footer
</footer>
