<header>
  
  <div class="navbar">
      <div *ngIf="!loading && !!user">
        <a [routerLink]="['/profile']">hey, {{user.username}}</a>
        <button (click)="triggerLogout()">Logout</button>
      </div>
      <div *ngIf="!loading && anon" class="">
        <a [routerLink]="['/login']">log in</a>
        <a [routerLink]="['/signup']">signup</a>
      </div>
      <a [routerLink]="['/']">home</a>
    </div>

</header>

<div class="container">
<router-outlet></router-outlet>
</div>

<footer>
  hey footer
</footer>
