<section class="select-bike-container profile-container">

  <div class="park-header">
    <h1>Select which bike to park</h1>
  </div>

    <div *ngFor="let item of bikes" class="bike-item">
        <h2>{{item.color}}</h2>
        <p>{{item.brand}}</p>
        <button *ngIf="!item.parkStatus" (click)="updateBikeLocation(item._id)" class="actionButton parkButton reset-button">PARK</button>
        <button *ngIf="item.parkStatus" (click)="updateIdForUnpark(item._id)" class="actionButton unparkButton reset-button">UNPARK</button>
      </div> 
      
    </section>
    
    <app-bike-park-form></app-bike-park-form>