<section class="select-bike-container profile-container">

  <div class="park-header">
    <h1>Select which bike to park</h1>
    <p>You arrived at destination its time to park your bike on bicilante.</p>
  </div>

    <div *ngFor="let item of bikes" class="bike-item park-item">
        <img src="{{baseUrl}}/{{item.imageUrl}}" alt="" width="170">
        <div *ngIf="!item.parkStatus" >
          <button (click)="updateBikeLocation(item._id)" [disabled]="processing" class="action-button park-button">
              <span *ngIf="item._id === bikeId && processing">
                <span class="park-bike-loading">parking...</span>
              </span>
              <span *ngIf="item._id !== bikeId || !processing">Park</span>
          </button>

        </div>
        <button *ngIf="item.parkStatus" (click)="updateIdForUnpark(item._id)" class="action-button unpark-button">Unpark</button>
      </div> 
    </section>
    