
<div class="auth-container">
  <h1> Login to your account </h1>
  

  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
      <label></label>
      <input placeholder="Username" type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required [disabled]="processing"/>
     </div>

    <div class="field password-input" [ngClass]="{'has-error': feedbackEnabled && passwordField.errors}">
        <label></label>
        <input placeholder="Password" type="password" name="password" [(ngModel)]="password" #passwordField="ngModel" required [disabled]="processing"/>
      </div>
    
    <div class="field submit">
      <button type="submit" [disabled]="processing" class="login-button">Log in</button>
      <div *ngIf="feedbackEnabled && form.invalid">
        <p class="validation">There are errors in the form, please review the fields</p>
      </div>
    </div>

    <div *ngIf="error" class="validation">
      <div [ngSwitch]="error.code">
        <p *ngSwitchCase="'not-found'"> You forgot your username or password</p>
        <p *ngSwitchDefault> Unexpected error get out of here</p>
      </div>
    </div>

  </form>

  <div class="submit create-account">
    <h3>New here? </h3>
    <p>Creating an account is easy. Just fill out the form and enjoy ! </p>
    <a [routerLink]="['/signup']" class="auth-alt-link">Create account now</a>
  </div>

</div>




