<section *ngIf="showOverlay" class="add-bike-overlay bike-park-overlay">
  <button (click)="closeForm()"> Close </button>
<h1> Where ? </h1>
    <form (ngSubmit)="submitParkForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}" class="add-bike-form">
        <div class="field" [ngClass]="{'has-error': feedbackEnabled && colorField.errors}">
            <label></label>
            <input placeholder="location" type="text" name="location" [(ngModel)]="location" #colorField="ngModel" [disabled]="processing" required/>
            <div *ngIf="feedbackEnabled && colorField.errors">
              <p *ngIf="colorField.errors.required" class="validation"> Please enter the location of your bike</p>
            </div>
          </div>
    
        <div class="field submit">
            <button type="submit" [disabled]="processing" class="reset-button"> Park </button>
          </div>
    
          <div *ngIf="error" class="validation">
              <div [ngSwitch]="error.code">
                <p *ngSwitchDefault> Unexpected error get out of here</p>
              </div>
            </div>
      </form>
</section>
