<section class="profile-container">

  <div class="profile-header">
      <h1>Your bikes</h1>
  </div> 

  <div class="profile-titles">
    <p>Brand</p>
    <p>Picture</p>
    <p>Action</p>
  </div>
    <div *ngFor="let item of bikes" class="bike-item">
      <div class="unsafe" *ngIf="item.report">
        <strong>Reported as unsafe</strong>
        <button *ngIf="item.report" (click)="toggleReportStatus(item._id)" class="action-button safe-button">Safe</button>
      </div>
      <div class="details" [ngClass]="{ 'unsafe-border': item.report}">
        <p>{{item.brand}}</p>
        <div class="img">
          <img src="{{baseUrl}}/{{item.imageUrl}}" alt="">
        </div>
        <div class="action">
          <div *ngIf="!item.parkStatus">
              <button (click)="updateBikeLocation(item._id)" [disabled]="processing" class="action-button park-button">
                  <span *ngIf="item._id === bikeId && processing">
                    <span class="park-bike-loading">parking...</span>
                  </span>
                  <span *ngIf="item._id !== bikeId || !processing">Park</span>
              </button>
          </div>
          <div *ngIf="item.parkStatus">
            <button (click)="updateIdForUnpark(item._id)" class="action-button unpark-button">Unpark</button>
          </div> 
        </div>
      </div>
    </div> 
</section>


<app-add-bike></app-add-bike>
