<section class="profile-container">

  <div class="profile-header">
      <h1>Your bikes</h1>
  </div> 

  <div class="profile-titles">
    <p>Brand</p>
    <p>Picture</p>
    <p>Action</p>
  </div>
    <div *ngFor="let item of bikes" class="bike-item" [ngClass]="{ 'reported': item.report}">
      <div class="unsafe" *ngIf="item.report">
        <strong>Reported as unsafe</strong>
        <button *ngIf="item.report" (click)="toggleReportStatus(item._id)" class="action-button safe-button">Safe</button>
      </div>
      <div class="details">
        <p>{{item.brand}}</p>
        <div class="img">
          <img src="{{baseUrl}}/{{item.imageUrl}}" alt="">
        </div>
        <div class="action">
          <button *ngIf="!item.parkStatus" (click)="updateBikeLocation(item._id)" class="action-button park-button">Park</button>
          <button *ngIf="item.parkStatus" (click)="updateIdForUnpark(item._id)" class="action-button unpark-button">Unpark</button>
        </div>
      </div>
    </div> 
</section>


<app-add-bike></app-add-bike>
