<section class="profile-container">

  <div class="profile-header">
      <h1>Your bikes</h1>
  </div> 

  <div class="profile-titles">
    <p>Color</p>
    <p>Brand</p>
    <p>Action</p>
  </div>
    <div *ngFor="let item of bikes" class="bike-item" [ngClass]="{ 'foo': item.report}">
      <h2>{{item.color}}</h2>
      <p>{{item.brand}}</p>
      <img src="http://localhost:3000/{{item.image.path}}" alt="">
      <button *ngIf="!item.parkStatus" (click)="updateBikeLocation(item._id)" class="actionButton parkButton reset-button">Park</button>
      <button *ngIf="item.parkStatus" (click)="updateIdForUnpark(item._id)" class="actionButton unparkButton reset-button">Unpark</button>
      <button *ngIf="item.report" (click)="toggleReportStatus(item._id)" class="actionButton safeButton reset-button">Safe</button>
    </div> 
</section>


<app-add-bike></app-add-bike>

<app-bike-park-form></app-bike-park-form>