/* You can add global styles to this file, and also import other style files */
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

/* ---- TOOLS ---- */

.reset-button {
  outline: none;
  background: none;
  border: none;
}
/* ---- Home page ---- */

.navbar {
  background-color: #191919;
  height: 9vh;
  display: flex;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0px 8px;

}

.home-button button{
  padding: 30px 70px;
  margin: 30px 0px;
  border: 1px solid;
  font-size: 25px;
  font-weight: bold;
}

.home-button {
  display: flex;
  flex-direction: column;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}


/* ---- Style on router outlet ---- */

.container {
  height: 90vh;
}



/* ---- classic bootcamp ---- */


.auth-container {
  padding: 0px 15px;
  background-color: #EFEFEF;
  height: 90vh;
  color: #777777;
}

.auth-container h1,
.auth-container h3 {
  color: black;
  margin-top: 0;
  padding-top: 31px;
}

.field input {
  outline: none;
  border: 1px solid #bebebe;
  padding: 17px 8px; 
  margin: 10px 0px;
  font-size: 15px; 
  width: 100%;
  background-color: #F3F3F3;
}

.submit button {
  background-color: rgb(202, 17, 52);
  color: white;
  padding: 10px 26px;
  font-size: 15px;
  margin-top: 13px;
}

.create-account p:first-child{
  font-weight: bold;
}

.create-account {
  margin-top: 50px;
}

/* ---- Profile page ---- */

.profile-container {
  border: 1px solid #dcdcdc;
  margin: 20px 30px;
}

.profile-container h1 {
  background-color: #e3e3e3;
  border: 1px solid #dcdcdc;
  margin: 0;
  padding: 32px 48px;
}

.profile-bar {
  border-bottom: 1px solid #dcdcdc; 
  display: flex;
  justify-content: space-around;
  padding: 16px 18px;
}

.profile-bar p {
  margin: 0;
  color: #777777;
}

.bike-item {
  border-bottom: 1px solid #dcdcdc; 
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bike-item:last-child {
  border: none;
}

/* ---- Add bike overlay  ---- */
.add-bike-overlay {
  border: 1px solid #dcdcdc;
  background-color: #F3F3F3;
  border-radius: 5px;
  padding: 7px;
  width: 60%;
  position: fixed;
  bottom: 3%;
  left: 20%;
}

.add-bike-overlay h1 {
  margin: 10px 0px;
}

.add-bike-form input {
  background-color: white;
  padding: 12px 8px;
}


.add-bike-form .submit {
  text-align: center;
}

.add-button {
  background-color: #1DB954;
  border: none;
  outline: none;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  position: fixed;
  left: 82%;
  bottom: 2%;
  width: 56px;
  height: 54px;
  text-align: center;
}

/* ---- Bike park overlay  ---- */

.bike-park-overlay {
  bottom: 31%;
  left: 15%;
  width: 70%;
  height: 35%;
}

/* ---- footer ---- */
footer {
  height: 20vh;
  background-color: #191919;
  color: white;
}

.foo {
  background-color: salmon;
}