/* You can add global styles to this file, and also import other style files */
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

/* ---- TOOLS ---- */

button {
  outline: none;
  background: none;
  border: 1px solid;
  padding: 7px 15px;
  font-size: 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.margin-reset {
  margin: 0;
}

/* ---- Nav bar---- */

.navbar {
  position: fixed;
  width: 100%;
  background-color: #191919;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #292929;
}

.navbar a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.no-user-a {
  padding-right: 11px;
}

.navbar img {
  width: 185px;
  padding-left: 8px;
  margin-right: 20px;
}

.spacer {
  width: 100%;
  height: 9vh;
}

.user-true button {
  color: rgba(202, 17, 52, 0.88);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 7px 8px;
  border: none;
}

.user-true a {
  font-size: 13px;
  padding: 0 11px;
}


/* ---- START Home page ---- */

.home-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 40px;
}



@media(min-width: 768px) {
  .home-container {
    flex-direction: row;
  }
}


.home-container p {
  margin: 21px 0 20px 0;
  color: #777777;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
}

.cta {
  width: 80%;
  max-width: 250px;
  padding: 30px 30px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.report-cta {
  color: tomato;
}

.park-cta {
  color: #1DB954;
  width: 250px;
}


/* ---- Bicilante concept ---- */

.concept {
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px 60px;
}

.concept h1, .concept p {
  margin: 0;
}

.concept h1 {
  color: white;
  font-size: 64px;
  margin-bottom: 40px;
}

.concept p {
  color: #777;
  font-size: 17px;
  padding: 10px 0px;
}

.concept .teaser {
  font-size: 40px;
}

.concept p:last-child {
  margin-bottom: 35px;
}

.join-now {
  text-decoration: none;
  color: #777;
  font-size: 15px;
  border: 1px solid #777;
  padding: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.report-span {
  color: tomato
}

.park-span {
  color: #1DB954;
}


/* ---- Bicilante social ---- */

.community {
  text-align: center;
  height: 60vh;
  padding: 25px 20px;
}
.community p {
  color: #777;
  font-size: 17px;
}

.community h2 {
  font-size: 42px;
}


/* ---- END Home page ---- */

/* ---- Classic bootcamp ---- */


.auth-container {
  overflow: hidden;
  padding: 0px 15px;
  background-color: #EFEFEF;
  color: #777777;
}

.auth-container h1,
.auth-container h3 {
  color: black;
  margin-top: 0;
  padding-top: 31px;
}

.auth-container h3 {
  font-size: 23px;
}

.field input {
  outline: none;
  border: 1px solid #bebebe;
  padding: 17px 8px; 
  margin: 10px 0px 15px 0px;
  font-size: 15px; 
  width: 100%;
  background-color: #F3F3F3;
}

.submit button {
  background-color: rgb(202, 17, 52);
  color: white;
  padding: 10px 26px;
  font-size: 15px;
  border: none;
}

.password-input {
  margin-bottom: 15px;
}

.create-account {
  margin-top: 50px;
  margin-bottom: 40px;
}

.create-account p {
  margin-bottom: 20px;
}

 /* signup  */



.signup-button {
  margin-bottom: 25px;
}

.auth-alt-link {
  color: black;
}


.validation {
  color: indianred
}
/* ---- Profile page ---- */


.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(https://uptownalmanac.com/sites/default/files/styles/full-post-width/public/images-on-cdn/blue-bottle-pile.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  padding: 80px 0px;
}

.profile-header h1 {
  margin: 0;
  font-size: 50px;
}

.profile-titles {
  border-bottom: 1px solid #dcdcdc; 
  display: flex;
  justify-content: space-around;
  padding: 16px 18px;
}

.profile-titles p {
  margin: 0;
  color: #777777;
}

.bike-item {
  padding: 10px;
  border-bottom: 1px solid #dcdcdc; 
}


.unsafe {
  background-color: rgb(202, 17, 51);
  padding: 10px;
  color: white;
}

.unsafe strong {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.unsafe-border {
  border: 1px solid rgb(202, 17, 51);
  padding: 10px;
}

.bike-item .unsafe,
.bike-item .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bike-item .details img {
  width: 100%;
}

.bike-item .details p,
.bike-item .details .img {
  padding-right: 30px;
}

.bike-item .details p,
.bike-item .details .img,
.bike-item .details .action {
  flex: 1;
}

.safe-button {
  width: 100px;
  border: none;
}


.action-button {
  width: 100px;
  padding: 7px 15px;
  font-size: 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.park-button {
  border: 1px solid #1DB954;
  color: #1DB954;
}

.unpark-button {
  border: 1px solid #b9511d;
  color: #b9511d;
}

.safe-button {
  background-color: #1DB954;
  color: white;
}


/* ---- Add bike overlay  ---- */
.add-bike-overlay {
  border: 1px solid #77777780;
  border-radius: 3px;
  background-color: #f3f3f3f2;
  padding: 7px;
  width: 65%;
  position: fixed;
  bottom: 3%;
  left: 15%;
}

.add-bike-overlay h1 {
  margin: 10px 0px;
}

.add-bike-form input {
  background-color: white;
  padding: 12px 8px;
  border: none;
  margin: 10px 0px 10px 0px;
}


.add-bike-form .submit {
  text-align: center;
}

.add-button {
  background-color: #1DB954;
  border: none;
  outline: none;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  position: fixed;
  left: 82%;
  bottom: 2%;
  width: 56px;
  height: 54px;
  text-align: center;
}

.image-upload {
  width: 253px;
}

/* ---- Bike park page  ---- */

.park-header {
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://blogmedia.evbstatic.com/wp-content/uploads/rally/2017/07/24101310/twenty20_7fb8ba9c-d4f5-45af-b601-b67a3d942f6b-1500x750.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 63px 23px;
}

.park-header h1 {
  margin: 0px;
  font-size: 26px;
}


.park-item {
  padding: 20px 0px;
  text-align: center;
}

.park-item img {
  margin-bottom: 20px;
}


.park-bike-loading {
  color: #777;
  
}

/* ---- Report page  ---- */


.report-container {
  height: 50vh;
  background-color: #EFEFEF;
  padding: 20px 30px;
  text-align: center;
}

.report-container h1 {
  font-size: 64px;
  margin: 0;
}

.report-container p {
  margin: 32px 0px;
  color: #777;
}

.report-button {
  background-color: #b92a1d;
  color: white;
}


.report-search article {
  text-align: center;
  padding: 31px 0px;
  border-bottom: 1px solid grey;
}

.report-search {
  color: #777
}

.report-container button {
  padding: 12px 29px;
  font-size: 16px;
}

.report-search-btn {
  padding: 15px 30px;
  font-size: 15px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* ---- footer ---- */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #191919;
  color: white;
  
}

.social-logo img {
  width: 20px;
  margin: 0 5px 5px  5px;
}

.footer-text p {
  margin: 0;
  font-size: 10px; 
  color: #777;
  text-transform: uppercase;
  letter-spacing: 1px;
}

