/* You can add global styles to this file, and also import other style files */
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}


/* ---- Home page ---- */

.navbar {
  background-color: #191919;
  height: 7vh;
  display: flex;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0px 8px;
}
