<section *ngIf="showOverlay" class="add-bike-overlay">

  <h1> Add a bike </h1>

  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}" class="add-bike-form">
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && numberField.errors}">
        <label></label>
        <input placeholder="Your phone number ex: +33698884599"  type="text" name="number" [(ngModel)]="number" #numberField="ngModel" [disabled]="processing" required/>
        <div *ngIf="feedbackEnabled && numberField.errors">
          <p *ngIf="numberField.errors.required" class="validation"> Please enter the color of your bike</p>
        </div>
      </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && brandField.errors}">
        <label></label>
        <input placeholder="Brand of your bike" type="text" name="brand" [(ngModel)]="brand" #brandField="ngModel" minlength="2" [disabled]="processing" required/>
        <div *ngIf="feedbackEnabled && brandField.errors">
          <p *ngIf="brandField.errors.required" class="validation">Brand name is required</p>
          <p *ngIf="brandField.errors.minlength" class="validation">Brand name is too short</p>
        </div>
      </div>

    <div>
      <input class="image-upload" type="file" name="file" ng2FileSelect [uploader]="uploader" />
    </div>
    
    <div class="field submit">
        <button type="submit" [disabled]="processing" class="create-button">Create a bike</button>
        <div *ngIf="feedbackEnabled && form.invalid">
          <p class="validation">There are errors in the form, please review the fields</p>
        </div>
      </div>

      <div *ngIf="error" class="validation">
          <div [ngSwitch]="error.code">
            <p *ngSwitchDefault> Unexpected error get out of here</p>
          </div>
        </div>
  </form>

  
</section>

<button class="add-button" (click)="toggleOverlay()"> {{addButtonText}} </button>


